/obj/*
/bin/*
/.idea/*
/umbraco/Data/TEMP/DistCache/3c83b9b7fd5c118a8ced3f0699d45a484d9f04c4-lastsynced.txt
/umbraco/Data/TEMP/DistCache/4f3ac67aa9da24e9fde5989a520d3b8bcf3931fc-lastsynced.txt
/umbraco/Data/TEMP/DistCache/8f0f4135f645317f2d8e44843ecedd1283f16cf6-lastsynced.txt
/umbraco/Data/TEMP/DistCache/62bfc58d995c53672be6f74786141f98e42aa79b-lastsynced.txt


bin/
obj/
*.exe
*.dll
*.pdb
*.log
*.tmp

*.suo
*.user
*.userosscache
*.sln.docstates

project.assets.json
project.nuget.cache
project.packagespec.json
*.nuget.g.props
*.nuget.g.targets
rider.project.model.nuget.info
rider.project.restore.info

.idea/
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json


umbraco/Logs/
umbraco/Data/
umbraco/Cache/
umbraco/Media/

secrets.json
.env
.env.local
.env.*.local

Thumbs.db
.DS_Store
*.bak
*.swp
*.tmp